<html>
	<head>
	<title>A Simple Webapplication</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
	<link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</head>
<body>
   <div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>
				Example for a database 
			</h1>
			<h2>
				Some famous programmers are in here...
			</h2>
			<p>
				and many are missing...
			</p>
		</div>
		<div class="container">
			<form action="#" th:action="@{/database}" method="post" th:object="${dataContainer.programmer}">
				<div class="form-group">
					<label for="formGroupExampleInput">First name</label> 
					<input  type="text" class="form-control" th:field="*{firstName}" placeholder="First name"></input>
					<p/>
					<label for="formGroupExampleInput">Last name</label> 
					<input  type="text" class="form-control" th:field="*{lastName}" placeholder="Last name"></input>
					<p/>
					<label for="formGroupExampleInput">Age name</label> 
					<input  type="text" class="form-control" th:field="*{age}" placeholder="Age"></input>
					<p/>
					<button type="submit" class="btn btn-primary">Put Programmer into Database</button>
				</div>
			</form>
		</div>
		
		<div class="container">
			<h2>Table showing the database of famous programmers</h2>
			<table class="table">
				<thead>
				<tr>
					<th>First name</th>
					<th>Last name</th>
					<th>Age</th>
				</tr>
				</thead>
				<tbody>
					<tr th:each="programmer : ${dataContainer.programmers}">
						<td th:text="${programmer.firstName}"></td>
						<td th:text="${programmer.lastName}"></td>
						<td th:text="${programmer.age}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>